
/* estilo geral */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
     font-family: "Poppins", sans-serif;
}

body{
    background-color: #000;
    height: 100vh;
}

.interface{
    max-width: 1280px;
    margin: 0 auto;

}

.flex{
    display: flex;
}

 .btn-contato button{
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 600;
    background-color: #2c80ff;
    border: 0;
    border-radius: 30px;
    cursor: pointer;
    transition: 1.2s;
        
}

h2.titulo{
    color: #fff;
    font-size: 38px;
    text-align: center;
}

h2.titulo span{
    color: #2c80ff;
}

button:hover{
    box-shadow: 0px 0px 8px #2c80ff;
    transform: scale(1.05);
}
/* estilo do cabecalho*/

.logo-nome{
    font-weight: bold;
    font-size: 1.4rem;
    color: #2c80ff;
    padding: 70px 8%;
    text-align: center;

    
}

header > .interface{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header a{
    color: #747474;
    text-decoration: none;
    display: inline-block;
    transition: .2s;
}

header a:hover{
    color: #fff;
    transform: scale(1.05);


}

header nav ul{
    list-style-type: none;
}

header nav ul li{
    display: inline-block;
    padding: 0 40px;

}




/*estilo do topo do site*/
section.topo-do-site{
    padding: 100px 4%;
}
section.topo-do-site .flex{
align-items: center;
justify-content: center;
}

.topo-do-site h1{
    color: #fff;
    font-size: 41px;
    line-height: 40px;
}

.topo-do-site h1 span{
    color: #2c80ff;
}

.topo-do-site .txt-topo-site p{
color: #fff;
margin: 40px 0;
}

/*estilo especialidades*/
 section.especialidades{
    padding: 40px 4%;
    box-shadow: 0 0 20px 5px #2c80ff;
 }

  section.especialidades .flex{
    gap: 60px;
  }

 .especialidades .especialidades-box{
    color: #fff;
    padding: 60px;
    border-radius: 20px;
      margin-top: 45px;

 }

 .especialidades .especialidades-box:hover{
    transform: scale(1.05);
    box-shadow: 0 0 8px #b7b8b9;
 }



 .especialidades .especialidades-box i{
    font-size: 70px;
    color: #2c80ff;
 }

 .especialidades .especialidades-box h3{
    font-size: 30px;
    margin: 15px 0;
 }

 /*estilo sobre*/
 section.sobre{
    padding: 40px 4%;
    box-shadow: 0 0 20px 5px #5c96ec;

 }

 section.sobre .flex{
    align-items: center;
    gap: 60px;
 }

 .sobre .txt-sobre{
    color: #fff;

 }

 .sobre .txt-sobre h2{
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 30px;

 }

 .sobre .txt-sobre h2 span{
    color: #2c80ff;
    display: block;
 }

 .sobre .txt-sobre p{
    margin: 20px 0;
    text-align: justify;
 }

  .btn-social button{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: none;
    background-color: #2c80ff;
    font-size: 22px;
    cursor:pointer ;
    margin: 5px;
    transition: .2s;
 }

 /*ESRILO PORTIFOLIO*/
 section.portifolio{
    padding: 80px 4%;
    box-shadow: 0 0 40px 10px #2c80ff;
 }

 section.portifolio .flex{
    justify-content: space-around;
    margin-top: 60px;
 }

 .img-port{
    width: 360px;
    height: 460px;
    background-size: cover;
    background-position: 100% 0%;
    transition: 8s;
    cursor: pointer;
    border-radius: 40px;
    position: relative;
 }

 .img-port:hover{
    background-position: 100% 100%;
 }

 .overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #2c80ff;
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: 600;
    color: #fff;
    opacity: 0;
    transition: 5s;
 }

 .overlay:hover{
    opacity: 1;
 }

 /*ESTILO DO FORMULARIO DE CONTATO*/
 section.formulario{
    padding: 80px 4%;

 }

 form{
    max-width: 500px;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;

}

form input, form textarea{
    width: 100%;
    background-color: #383434;
    border: 0;
    outline: 0;
    padding: 20px 15px;
    border-radius: 15px;
    color: #fff;
    font-size: 18px;
}

form input::placeholder{
    color: #2c80ff;
}

form textarea{
    resize: none;
    max-height: 200px;



}

form .btn-enviar{
    margin-top: 20px;
    text-align: center;
}

form .btn-enviar input{
    width: 100%;
    background-color: #2c80ff;
    color: #000;
    font-weight: 700;
    cursor: pointer;


}

/* ESTILO DO RODAPE*/

footer{
    padding: 40px 4%;
     box-shadow: 0 0 20px 5px #2c80ff;

}

footer .flex{
    justify-content: space-between;
}




footer .line-footer p i{
    color: #2c80ff;
    font-size: 30px;
    gap: 30px;

}



footer .line-footer p a{
    color: #fff;
   
}


.btn-social{
    display: flex;
    justify-content: flex-end;
}


    

